<a href="https://colab.research.google.com/github/tanpharamut/KKU_data_mining/blob/master/Data101_error.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas

In [2]:
pd.read_csv(file_path)

NameError: ignored

In [ ]:
  Error เนื่องจาก ไม่ได้กำหนดตั้งเเต่เเรกว่าให้ pandas สามารถใช้ pd ได้

In [3]:
import pandas

In [4]:
import pandas as pd

In [5]:
from google.colab import drive
drive.mount('content/drive')

ValueError: ignored

Error เนื่องจาก ไม่ได้ใส่ / นำหน้า content เป็น '/content/drive'

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [14]:
import os

In [15]:
path = '/content/drive/My Drive/DWDW_material'

In [16]:
os.listdir(path)

FileNotFoundError: ignored

Error เนื่องจากพิมพ์ชื่อไฟล์ผิด ต้องเป็น DWDM จึงจะถูก

In [19]:
path = '/content/drive/My Drive/DWDM_material'

In [20]:
os.listdir(path)

['test.csv']

In [21]:
file_path = os.path.join(path,'test.csv')
print(file_path)

/content/drive/My Drive/DWDM_material/test.csv

In [22]:
pd.read_csv(file_phat)

NameError: ignored

Error เนื่องจาก พิมพ์คำว่า path ผิด

In [23]:
pd.read_csv(file_path)

     Unnamed: 0        x        y
0             0  55.3846  97.1795
1             1  51.5385  96.0256
2             2  46.1538  94.4872
3             3  42.8205  91.4103
4             4  40.7692  88.3333
..          ...      ...      ...
137         137  39.4872  25.3846
138         138  91.2821  41.5385
139         139  50.0000  95.7692
140         140  47.9487  95.0000
141         141  44.1026  92.6923

[142 rows x 3 columns]

In [24]:
table1 = pd.read_csv(file_path)

In [25]:
table

NameError: ignored

Error เนื่องจากพิมพ์ชื่อตัวแปรไม่ครบ จึงหาตัแปรไม่พบ ที่จริงตัวแปรต้องชื่ table1

In [26]:
table1

     Unnamed: 0        x        y
0             0  55.3846  97.1795
1             1  51.5385  96.0256
2             2  46.1538  94.4872
3             3  42.8205  91.4103
4             4  40.7692  88.3333
..          ...      ...      ...
137         137  39.4872  25.3846
138         138  91.2821  41.5385
139         139  50.0000  95.7692
140         140  47.9487  95.0000
141         141  44.1026  92.6923

[142 rows x 3 columns]