<a href="https://colab.research.google.com/github/tanpharamut/KKU_data_mining/blob/master/Project_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
path = '/content/drive/My Drive/DWDM_material'

In [9]:
import os

In [10]:
RM = os.path.join(path,'Recommendation System.csv')

In [11]:
RM_Table = pd.read_csv(RM)

In [12]:
RM_Table

          0    50  5  881250949
0         0   172  5  881250949
1         0   133  1  881250949
2       196   242  3  881250949
3       186   302  3  891717742
4        22   377  1  878887116
...     ...   ... ..        ...
99997   880   476  3  880175444
99998   716   204  5  879795543
99999   276  1090  1  874795795
100000   13   225  2  882399156
100001   12   203  3  879959583

[100002 rows x 4 columns]

In [13]:
RM_Table .columns = (['user_id','item_id',"rating","timestamp"])

In [14]:
RM_Table.head()

   user_id  item_id  rating  timestamp
0        0      172       5  881250949
1        0      133       1  881250949
2      196      242       3  881250949
3      186      302       3  891717742
4       22      377       1  878887116

In [15]:
Movie = os.path.join(path,'Movie_Id_Titles')

In [16]:
Movie_Table = pd.read_csv(Movie)
Movie_Table

      item_id                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [17]:
df = pd.merge(RM_Table,Movie_Table,on='item_id')
df

        user_id  ...                                              title
0             0  ...                    Empire Strikes Back, The (1980)
1           213  ...                    Empire Strikes Back, The (1980)
2            92  ...                    Empire Strikes Back, The (1980)
3            77  ...                    Empire Strikes Back, The (1980)
4           194  ...                    Empire Strikes Back, The (1980)
...         ...  ...                                                ...
99997       840  ...                                  Mamma Roma (1962)
99998       655  ...                             Eighth Day, The (1996)
99999       655  ...                                  Girls Town (1996)
100000      655  ...  Silence of the Palace, The (Saimt el Qusur) (1...
100001      655  ...                                    Dadetown (1995)

[100002 rows x 5 columns]

In [18]:
df.sort_values('item_id').head()

      user_id  item_id  rating  timestamp             title
3937      308        1       4  887736532  Toy Story (1995)
4247      893        1       5  874827725  Toy Story (1995)
4246      336        1       3  877759342  Toy Story (1995)
4245      303        1       5  879466966  Toy Story (1995)
4244      886        1       4  876031433  Toy Story (1995)

In [19]:
df.isnull().any()

user_id      False
item_id      False
rating       False
timestamp    False
title        False
dtype: bool

In [20]:
asso = df.groupby('user_id')['item_id'].apply(list)
asso

user_id
0                                             [172, 133]
1      [172, 133, 242, 51, 265, 86, 257, 222, 40, 29,...
2      [242, 302, 257, 274, 1, 277, 304, 100, 288, 23...
3      [302, 346, 327, 332, 322, 181, 288, 338, 294, ...
4      [327, 288, 294, 328, 264, 258, 360, 11, 357, 3...
                             ...
939    [257, 222, 274, 118, 546, 15, 237, 275, 471, 7...
940    [172, 302, 474, 95, 98, 193, 194, 1137, 4, 100...
941    [257, 222, 1, 181, 919, 15, 294, 117, 273, 298...
942    [172, 265, 95, 234, 193, 304, 322, 423, 427, 4...
943    [172, 51, 785, 274, 546, 234, 98, 193, 194, 79...
Name: item_id, Length: 944, dtype: object

In [21]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.6/dist-packages (1.1.2)

In [22]:
from apyori import apriori

In [24]:
list(apriori(asso,min_support=0.3,min_confidence=0.8))

[RelationRecord(items=frozenset({1, 50}), support=0.4036016949152542, ordered_statistics=[OrderedStatistic(items_base=frozenset({1}), items_add=frozenset({50}), confidence=0.8429203539823008, lift=1.3648658904962128)]),
 RelationRecord(items=frozenset({50, 7}), support=0.3432203389830508, ordered_statistics=[OrderedStatistic(items_base=frozenset({7}), items_add=frozenset({50}), confidence=0.8265306122448979, lift=1.3383274407533168)]),
 RelationRecord(items=frozenset({100, 7}), support=0.3389830508474576, ordered_statistics=[OrderedStatistic(items_base=frozenset({7}), items_add=frozenset({100}), confidence=0.8163265306122448, lift=1.5169532379881083)]),
 RelationRecord(items=frozenset({56, 50}), support=0.3495762711864407, ordered_statistics=[OrderedStatistic(items_base=frozenset({56}), items_add=frozenset({50}), confidence=0.8375634517766498, lift=1.356191935638349)]),
 RelationRecord(items=frozenset({50, 69}), support=0.3008474576271186, ordered_statistics=[OrderedStatistic(items_base=frozenset({69}), items_add=frozenset({50}), confidence=0.8847352024922118, lift=1.4325729522343877)]),
 RelationRecord(items=frozenset({50, 79}), support=0.3146186440677966, ordered_statistics=[OrderedStatistic(items_base=frozenset({79}), items_add=frozenset({50}), confidence=0.8839285714285714, lift=1.431266846361186)]),
 RelationRecord(items=frozenset({50, 98}), support=0.3548728813559322, ordered_statistics=[OrderedStatistic(items_base=frozenset({98}), items_add=frozenset({50}), confidence=0.8589743589743589, lift=1.3908607116154286)]),
 RelationRecord(items=frozenset({50, 117}), support=0.3305084745762712, ordered_statistics=[OrderedStatistic(items_base=frozenset({117}), items_add=frozenset({50}), confidence=0.8253968253968255, lift=1.3364916006425442)]),
 RelationRecord(items=frozenset({121, 50}), support=0.3834745762711864, ordered_statistics=[OrderedStatistic(items_base=frozenset({121}), items_add=frozenset({50}), confidence=0.8438228438228438, lift=1.366327211953284)]),
 RelationRecord(items=frozenset({50, 127}), support=0.3781779661016949, ordered_statistics=[OrderedStatistic(items_base=frozenset({127}), items_add=frozenset({50}), confidence=0.864406779661017, lift=1.3996569468267583)]),
 RelationRecord(items=frozenset({50, 172}), support=0.3654661016949153, ordered_statistics=[OrderedStatistic(items_base=frozenset({172}), items_add=frozenset({50}), confidence=0.9375, lift=1.5180102915951974)]),
 RelationRecord(items=frozenset({50, 173}), support=0.3008474576271186, ordered_statistics=[OrderedStatistic(items_base=frozenset({173}), items_add=frozenset({50}), confidence=0.8765432098765432, lift=1.419308387861847)]),
 RelationRecord(items=frozenset({50, 174}), support=0.4025423728813559, ordered_statistics=[OrderedStatistic(items_base=frozenset({174}), items_add=frozenset({50}), confidence=0.9047619047619048, lift=1.4650004083966348)]),
 RelationRecord(items=frozenset({50, 181}), support=0.5084745762711864, ordered_statistics=[OrderedStatistic(items_base=frozenset({50}), items_add=frozenset({181}), confidence=0.823327615780446, lift=1.5329808072914026), OrderedStatistic(items_base=frozenset({181}), items_add=frozenset({50}), confidence=0.9467455621301776, lift=1.5329808072914026)]),
 RelationRecord(items=frozenset({50, 204}), support=0.3273305084745763, ordered_statistics=[OrderedStatistic(items_base=frozenset({204}), items_add=frozenset({50}), confidence=0.8828571428571429, lift=1.4295319774565058)]),
 RelationRecord(items=frozenset({210, 50}), support=0.3220338983050847, ordered_statistics=[OrderedStatistic(items_base=frozenset({210}), items_add=frozenset({50}), confidence=0.9184290030211479, lift=1.4871303239313272)]),
 RelationRecord(items=frozenset({50, 222}), support=0.3347457627118644, ordered_statistics=[OrderedStatistic(items_base=frozenset({222}), items_add=frozenset({50}), confidence=0.8657534246575341, lift=1.4018374491881858)]),
 RelationRecord(items=frozenset({50, 405}), support=0.3072033898305085, ordered_statistics=[OrderedStatistic(items_base=frozenset({405}), items_add=frozenset({50}), confidence=0.8430232558139535, lift=1.3650325102716505)]),
 RelationRecord(items=frozenset({174, 79}), support=0.3029661016949153, ordered_statistics=[OrderedStatistic(items_base=frozenset({79}), items_add=frozenset({174}), confidence=0.8511904761904763, lift=1.913151927437642)]),
 RelationRecord(items=frozenset({121, 405}), support=0.3326271186440678, ordered_statistics=[OrderedStatistic(items_base=frozenset({405}), items_add=frozenset({121}), confidence=0.9127906976744187, lift=2.0085650783325204)]),
 RelationRecord(items=frozenset({172, 174}), support=0.3463983050847458, ordered_statistics=[OrderedStatistic(items_base=frozenset({172}), items_add=frozenset({174}), confidence=0.8885869565217391, lift=1.9972049689440994)]),
 RelationRecord(items=frozenset({172, 181}), support=0.3358050847457627, ordered_statistics=[OrderedStatistic(items_base=frozenset({172}), items_add=frozenset({181}), confidence=0.8614130434782609, lift=1.6038933196123832)]),
 RelationRecord(items=frozenset({181, 174}), support=0.3622881355932203, ordered_statistics=[OrderedStatistic(items_base=frozenset({174}), items_add=frozenset({181}), confidence=0.8142857142857143, lift=1.51614539306847)]),
 RelationRecord(items=frozenset({204, 174}), support=0.3156779661016949, ordered_statistics=[OrderedStatistic(items_base=frozenset({204}), items_add=frozenset({174}), confidence=0.8514285714285714, lift=1.913687074829932)]),
 RelationRecord(items=frozenset({210, 174}), support=0.3061440677966102, ordered_statistics=[OrderedStatistic(items_base=frozenset({210}), items_add=frozenset({174}), confidence=0.8731117824773414, lift=1.9624226729966914)]),
 RelationRecord(items=frozenset({204, 181}), support=0.3029661016949153, ordered_statistics=[OrderedStatistic(items_base=frozenset({204}), items_add=frozenset({181}), confidence=0.8171428571428572, lift=1.5214652014652017)]),
 RelationRecord(items=frozenset({181, 222}), support=0.3156779661016949, ordered_statistics=[OrderedStatistic(items_base=frozenset({222}), items_add=frozenset({181}), confidence=0.8164383561643835, lift=1.5201534678879254)]),
 RelationRecord(items=frozenset({1, 50, 100}), support=0.3008474576271186, ordered_statistics=[OrderedStatistic(items_base=frozenset({1, 100}), items_add=frozenset({50}), confidence=0.8738461538461537, lift=1.4149412851299643)]),
 RelationRecord(items=frozenset({1, 50, 181}), support=0.3527542372881356, ordered_statistics=[OrderedStatistic(items_base=frozenset({1, 50}), items_add=frozenset({181}), confidence=0.8740157480314961, lift=1.6273587103387226), OrderedStatistic(items_base=frozenset({1, 181}), items_add=frozenset({50}), confidence=0.9794117647058824, lift=1.5858742811018063)]),
 RelationRecord(items=frozenset({50, 181, 7}), support=0.3050847457627119, ordered_statistics=[OrderedStatistic(items_base=frozenset({50, 7}), items_add=frozenset({181}), confidence=0.8888888888888891, lift=1.6550515012053477), OrderedStatistic(items_base=frozenset({181, 7}), items_add=frozenset({50}), confidence=0.976271186440678, lift=1.5807890222984564)]),
 RelationRecord(items=frozenset({56, 50, 174}), support=0.3061440677966102, ordered_statistics=[OrderedStatistic(items_base=frozenset({56, 50}), items_add=frozenset({174}), confidence=0.8757575757575757, lift=1.9683694083694083), OrderedStatistic(items_base=frozenset({56, 174}), items_add=frozenset({50}), confidence=0.9203821656050956, lift=1.490292906228491)]),
 RelationRecord(items=frozenset({56, 50, 181}), support=0.3019067796610169, ordered_statistics=[OrderedStatistic(items_base=frozenset({56, 50}), items_add=frozenset({181}), confidence=0.8636363636363635, lift=1.6080329926483772), OrderedStatistic(items_base=frozenset({56, 181}), items_add=frozenset({50}), confidence=0.9861591695501729, lift=1.596799753096678)]),
 RelationRecord(items=frozenset({50, 174, 98}), support=0.3082627118644068, ordered_statistics=[OrderedStatistic(items_base=frozenset({50, 98}), items_add=frozenset({174}), confidence=0.8686567164179105, lift=1.9524093816631134), OrderedStatistic(items_base=frozenset({98, 174}), items_add=frozenset({50}), confidence=0.9356913183279743, lift=1.5150816543766856)]),
 RelationRecord(items=frozenset({50, 181, 98}), support=0.3061440677966102, ordered_statistics=[OrderedStatistic(items_base=frozenset({50, 98}), items_add=frozenset({181}), confidence=0.8626865671641791, lift=1.6062645353116078), OrderedStatistic(items_base=frozenset({98, 181}), items_add=frozenset({50}), confidence=0.9763513513513514, lift=1.5809188262018452)]),
 RelationRecord(items=frozenset({50, 100, 181}), support=0.3495762711864407, ordered_statistics=[OrderedStatistic(items_base=frozenset({50, 100}), items_add=frozenset({181}), confidence=0.8375634517766498, lift=1.5594869792448867), OrderedStatistic(items_base=frozenset({100, 181}), items_add=frozenset({50}), confidence=0.953757225433526, lift=1.5443341694841315)]),
 RelationRecord(items=frozenset({121, 50, 181}), support=0.3463983050847458, ordered_statistics=[OrderedStatistic(items_base=frozenset({121, 50}), items_add=frozenset({181}), confidence=0.9033149171270719, lift=1.6819117983588874), OrderedStatistic(items_base=frozenset({121, 181}), items_add=frozenset({50}), confidence=0.9646017699115045, lift=1.5618937749510469)]),
 RelationRecord(items=frozenset({50, 181, 127}), support=0.3188559322033898, ordered_statistics=[OrderedStatistic(items_base=frozenset({50, 127}), items_add=frozenset({181}), confidence=0.8431372549019608, lift=1.5698650268786016), OrderedStatistic(items_base=frozenset({181, 127}), items_add=frozenset({50}), confidence=0.9709677419354837, lift=1.5722016267360148)]),
 RelationRecord(items=frozenset({50, 172, 174}), support=0.3347457627118644, ordered_statistics=[OrderedStatistic(items_base=frozenset({172}), items_add=frozenset({50, 174}), confidence=0.858695652173913, lift=2.1331807780320364), OrderedStatistic(items_base=frozenset({50, 172}), items_add=frozenset({174}), confidence=0.9159420289855071, lift=2.0586887508626637), OrderedStatistic(items_base=frozenset({50, 174}), items_add=frozenset({172}), confidence=0.8315789473684211, lift=2.1331807780320364), OrderedStatistic(items_base=frozenset({172, 174}), items_add=frozenset({50}), confidence=0.966360856269113, lift=1.5647421068920115)]),
 RelationRecord(items=frozenset({50, 172, 181}), support=0.3336864406779661, ordered_statistics=[OrderedStatistic(items_base=frozenset({172}), items_add=frozenset({50, 181}), confidence=0.8559782608695652, lift=1.6834239130434783), OrderedStatistic(items_base=frozenset({50, 172}), items_add=frozenset({181}), confidence=0.9130434782608695, lift=1.7000257267815797), OrderedStatistic(items_base=frozenset({172, 181}), items_add=frozenset({50}), confidence=0.9936908517350158, lift=1.6089951355709349)]),
 RelationRecord(items=frozenset({50, 181, 174}), support=0.3569915254237288, ordered_statistics=[OrderedStatistic(items_base=frozenset({174}), items_add=frozenset({50, 181}), confidence=0.8023809523809524, lift=1.578015873015873), OrderedStatistic(items_base=frozenset({50, 174}), items_add=frozenset({181}), confidence=0.8868421052631579, lift=1.6512405273538877), OrderedStatistic(items_base=frozenset({181, 174}), items_add=frozenset({50}), confidence=0.9853801169590644, lift=1.5955383025889482)]),
 RelationRecord(items=frozenset({50, 181, 222}), support=0.3061440677966102, ordered_statistics=[OrderedStatistic(items_base=frozenset({50, 222}), items_add=frozenset({181}), confidence=0.9145569620253166, lift=1.7028437320550274), OrderedStatistic(items_base=frozenset({181, 222}), items_add=frozenset({50}), confidence=0.9697986577181209, lift=1.5703086327374034)]),
 RelationRecord(items=frozenset({50, 258, 181}), support=0.3019067796610169, ordered_statistics=[OrderedStatistic(items_base=frozenset({50, 258}), items_add=frozenset({181}), confidence=0.8532934131736526, lift=1.5887751124968996), OrderedStatistic(items_base=frozenset({258, 181}), items_add=frozenset({50}), confidence=0.9563758389261744, lift=1.548574257197785)]),
 RelationRecord(items=frozenset({172, 181, 174}), support=0.3125, ordered_statistics=[OrderedStatistic(items_base=frozenset({172}), items_add=frozenset({181, 174}), confidence=0.8016304347826086, lift=2.212687515891177), OrderedStatistic(items_base=frozenset({172, 174}), items_add=frozenset({181}), confidence=0.9021406727828746, lift=1.6797254341361612), OrderedStatistic(items_base=frozenset({172, 181}), items_add=frozenset({174}), confidence=0.9305993690851735, lift=2.091632867658104), OrderedStatistic(items_base=frozenset({181, 174}), items_add=frozenset({172}), confidence=0.8625730994152048, lift=2.212687515891177)]),
 RelationRecord(items=frozenset({50, 172, 181, 174}), support=0.3114406779661017, ordered_statistics=[OrderedStatistic(items_base=frozenset({50, 172}), items_add=frozenset({181, 174}), confidence=0.8521739130434782, lift=2.352199338927028), OrderedStatistic(items_base=frozenset({172, 174}), items_add=frozenset({50, 181}), confidence=0.8990825688073394, lift=1.7681957186544341), OrderedStatistic(items_base=frozenset({172, 181}), items_add=frozenset({50, 174}), confidence=0.9274447949526814, lift=2.30396812219824), OrderedStatistic(items_base=frozenset({181, 174}), items_add=frozenset({50, 172}), confidence=0.8596491228070176, lift=2.3521993389270275), OrderedStatistic(items_base=frozenset({50, 172, 174}), items_add=frozenset({181}), confidence=0.9303797468354431, lift=1.7323046962774327), OrderedStatistic(items_base=frozenset({50, 172, 181}), items_add=frozenset({174}), confidence=0.9333333333333333, lift=2.097777777777778), OrderedStatistic(items_base=frozenset({50, 181, 174}), items_add=frozenset({172}), confidence=0.8724035608308606, lift=2.237904786479164), OrderedStatistic(items_base=frozenset({172, 181, 174}), items_add=frozenset({50}), confidence=0.9966101694915255, lift=1.6137221269296742)])]